* {
  margin-top: 0;
  padding: 0;
}

.designed-man{
    height: 550px;
    background-image: url(https://cdn1.savepice.ru/uploads/2022/3/27/0807d98c0d477f643719089bdf1873b8-full.png);
    display: flex;
    margin-left: 140px;
    background-repeat: no-repeat;
    justify-content: center;
    flex-direction: column;
    padding-left: 710px;
    font-family: "Poppins";
    font-style: normal;
}

.designed-text{
    color: #242F51;
    width: 360px;  
    font-weight: 600;
    font-size: 36px;
    word-wrap: break-word;
    margin-top: 50px;
    margin-bottom: 30px;
}

.rise-text{
    color: #616368;
    width: 415px;
    font-weight: 400;
    font-size: 16px;
    word-wrap: break-word;
    margin-bottom: 30px;
}

.learn-more-btn{
    background-color: #2500f9;
    border: none;
    display: block;
    height: 57px;
    width: 170px; 
    border-radius: 999px    
}

.lm-btn-text {
    color: white;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: bold;
}

.learn-more-btn:hover {
    background-color: #8e7aff;
    cursor: pointer;
}